<%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
</head>

<body>
    <%- include('partials/navigation.ejs') %>
    <main>
        <div class="main">
            <% if (prods.length > 0 ){ %> <% prods.forEach(function(prod) { %>
            <div class="grid">
              <article class="card product-item">
                <header class="card-header">
                  <h1 class="product__title"><%= prod.title %></h1>
                </header>
                <div class="card__image">
                  <img
                    src="https://cdn.clipart.email/ea8619ae7bd5eeecaa66601f58603ce1_best-open-book-illustrations-royalty-free-vector-graphics-clip-_612-612.jpeg"
                    alt="book cover"
                  />
                </div>
                <div class="card__content">
                    <h2 class="product__price">$19.99</h2>
                    <p class="product__description">
                      A very interesting book about so many awesome things and even more
                    </p>
                </div>
                <div class="card__actions">
                  <button class="btn">Add Product</button>
                </div>
              </article>
            </div>
            <% }); %> <% } else { %>
            <h1>No Products found!</h1>
            <% } %>
          </div>
    </main>

<%- include('partials/end.ejs') %>
